body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 20px 0;
	background: #e1e1e1
}

.container {
	width: 60%;
	max-width: 300px;
	margin: 0 auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

form {
	margin: 0;
}

form input {
	border-radius: 4px;
	display: block;
	margin: 0 0 10px 0;
	-webkit-appearance: none;
	border: 1px solid #bbb;
	background: white;
	padding: 4px
}

form input[type=text], form input[type=password] {
	-webkit-appearance: none;
}

form input:last-child {
	margin: 0;
}

form input[type=submit]:hover {
	background: #eee;
	cursor: pointer;
}

p.error {
	color: #aa0000;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	line-height: 40px;
}

h1 {
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	font-size: 18px;
	color: #41546c;
	border-bottom: 1px solid #ccc;
}

a:link, a:visited {
	color: #4e7ea7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

form input[type=checkbox] {
	display: inline;
}
